@using ProjectPulse.DataAccess.DTOs.Users
@using ProjectPulse.Web.Components.Layout

@inject HttpClient HttpClient
@inject NavigationManager Navigation

@page "/Account/Login"
@layout LogInLayout

<div class="login-container">
    <h2 class="login-title">Log in</h2>
    <EditForm OnValidSubmit="HandleLogin" Model="_user" FormName="login">
        <div class="form-group">
            <label for="username">Username</label>
            <InputText id="username" @bind-Value="_user.UserName" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <InputText id="password" @bind-Value="_user.Password" type="password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary login-button">Log in</button>
    </EditForm>
    <p class="register-link">
        Don't have a ProjectPulse account? <a href="/Account/Register">Register now</a>
    </p>
</div>

@code {
    
    [SupplyParameterFromForm]
    private LoginUserDto _user { get; set; } = new ();

    private async Task HandleLogin()
    {
        var response = await HttpClient.PostAsJsonAsync("api/accounts/login", _user);

        if (response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/");
        }
        else
        {
            Console.WriteLine("Login failed");
        }
    }
}