@page "/Logout"
@using Microsoft.AspNetCore.Authentication
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager Navigation
@attribute [Authorize]

<h3>Logout</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        HttpContextAccessor.HttpContext!.Response.Cookies.Delete("UserId");
        HttpContextAccessor.HttpContext.Response.Cookies.Delete("UserName");
        
        await HttpContextAccessor.HttpContext!.SignOutAsync("Auth").ConfigureAwait(false);
        
        Navigation.NavigateTo("/");
    }
}