@using ProjectPulse.Core.Models
@using ProjectPulse.DataAccess.DTOs.Tasks

<div class="modal fade @ModalClass" tabindex="-1" role="dialog" style="display:@DisplayStyle; width: 100vw; height: 100vh; align-items: center; justify-content: center;" aria-hidden="true">
    <div>
        <div class="modal-dialog add-project-modal-body" role="document" style="min-width: 400px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Task</h5>
                    <button type="button" class="modal-close-btn" @onclick="CloseModal">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-form-container">
                        <EditForm Model="NewTask" OnValidSubmit="HandleTaskCreation" class="add-project-form">
                            <div class="form-group add-project-form-group">
                                <label for="taskName">Task Name</label>
                                <InputText id="taskName" class="form-control" @bind-Value="NewTask.Title" placeholder="Enter task name"></InputText>
                            </div>
                            <div class="form-group add-project-form-group">
                                <label for="taskDescription">Task Description</label>
                                <InputText id="taskDescription" class="form-control" @bind-Value="NewTask.Description" placeholder="Enter task description"></InputText>
                            </div>
                            <div class="form-group add-project-form-group">
                                <label for="taskPriority">Task Priority</label>
                                <InputSelect id="taskPriority" class="form-control" @bind-Value="NewTask.Priority">
                                    @foreach (var priority in Enum.GetValues(typeof(TaskPriorities)))
                                    {
                                    <option value="@priority">@priority</option>
                                    }
                                </InputSelect>
                            </div>
                            <div class="add-project-form-submit">
                                <button type="submit" class="modal-form-submit-btn">Submit</button>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }
    
    [Parameter]
    public bool DisplayModal { get; set; }
    
    private string ModalClass => DisplayModal ? "show" : "";
    private string DisplayStyle => DisplayModal ? "flex" : "none";
    

    private void CloseModal()
    {
        DisplayModal = false;
        OnClose.InvokeAsync(DisplayModal);
    }

    [SupplyParameterFromForm] 
    public CreateTaskDto NewTask { get; set; } = new ();
    
    [Parameter]
    public EventCallback<CreateTaskDto> CreateTaskCallback { get; set; }

    private void HandleTaskCreation()
    {
        CreateTaskCallback.InvokeAsync(NewTask);
        CloseModal();
    }
}