.modal.fade {
    display: none;
}

.modal.fade.show {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

::deep .add-project-form {
    display: flex;
    flex-direction: column;
}
::deep .add-project-form-group {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add-project-form-group > label{
    font-weight: bold;
}

::deep .add-project-form-submit {
    margin-top: 20px;
    width: 100%;
}
::deep .add-project-form-submit > button{
    width: 100%;
}