<nav class="border-bottom" id="navbar">
    <div class="nav-left">
        <div class="sidebar-show sidebar-show-hidden" id="show-sidebar">
            <img src="img/hide_sidebar.svg" alt="">
        </div>
        <div class="nav-search">
            <form action="/search" method="GET">
                <div class="search-box">
                    <img src="img/search.svg" alt="">
                    <input type="text" class="form-control" name="q" placeholder="Search for anything...">
                </div>
            </form>
        </div>
    </div>
    <div class="nav-right">
        <div class="nav-icons">
            <div class="nav-icon-item"><img src="img/calendar.svg" alt=""></div>
            <div class="nav-icon-item"><img src="img/message-question.svg" alt=""></div>
            <div class="nav-icon-item"><img src="img/notification.svg" alt=""></div>
        </div>
        <div class="nav-user">
            <p>Username</p>
            <img src="img/user.jpeg" alt="" class="nav-user-img">
        </div>
    </div>
</nav>

@code {
    
}