@inject IJSRuntime JS
@inject NavigationManager Navigation

<div>
    <NavLink href="@Href" class="sidebar-projects-content-item" Match="NavLinkMatch.All" activeClass="sidebar-projects-content-item-active">
        <span class="project-circle" style="background-color: @ProjectColor"></span>
        <p>@Title</p>
    </NavLink>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;
    
    private string Href => $"/Project/{ProjectId}";

    [Parameter]
    public string ProjectId { get; set; } = string.Empty;
    
    [Parameter]
    public string ProjectColor { get; set; } = string.Empty;

    [Parameter] public string IconPath { get; set; } = string.Empty;
}