<div class="sidebar" id="sidebar">
    <div class="sidebar-content">
        <div class="row border-bottom">
            <div class="sidebar-head" id="sidebar-head">
                <div class="sidebar-head-logo">
                    <img src="img/logo.svg" alt="">
                    <p>ProjectPulse</p>
                </div>
                <div class="sidebar-head-hide" id="hide-sidebar">
                    <img src="img/hide_sidebar.svg" alt="">
                </div>
            </div>
        </div>
        <div class="row border-bottom sidebar-options">
            <div class="sidebar-options-content">
                <NavLink href="/" class="sidebar-options-content-item" activeClass="sidebar-options-content-item-active">
                    <img src="img/home.svg" alt="">
                    <p>Home</p>
                </NavLink>
                <NavLink href="Messages" class="sidebar-options-content-item" activeClass="sidebar-options-content-item-active">
                    <img src="img/message.svg" alt="">
                    <p>Messages</p>
                </NavLink>
                <NavLink href="Tasks" class="sidebar-options-content-item" activeClass="sidebar-options-content-item-active">
                    <img src="img/tasks.svg" alt="">
                    <p>Tasks</p>
                </NavLink>
                <NavLink href="Members" class="sidebar-options-content-item" activeClass="sidebar-options-content-item-active">
                    <img src="img/members.svg" alt="">
                    <p>Members</p>
                </NavLink>
                <NavLink href="Settings" class="sidebar-options-content-item" activeClass="sidebar-options-content-item-active">
                    <img src="img/settings.svg" alt="">
                    <p>Settings</p>
                </NavLink>
            </div>
        </div>
        <div class="row sidebar-projects">
            <div class="sidebar-projects-head">
                <p>My projects</p>
                <img src="img/add-project.svg" alt="" data-bs-toggle="modal" data-bs-target="#addProjectModal">
            </div>
            <div class="sidebar-projects-content">
                <div class="sidebar-projects-content-item">
                    <span class="project-circle"></span>
                    <p>Project 1</p>
                </div>
            </div>
        </div>
    </div>
</div>