/* _content/ProjectPulse.Web/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-3fv9nij9hg] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-3fv9nij9hg] {
    flex: 1;
}

.sidebar[b-3fv9nij9hg] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-3fv9nij9hg] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-3fv9nij9hg]  a, .top-row[b-3fv9nij9hg]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-3fv9nij9hg]  a:hover, .top-row[b-3fv9nij9hg]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-3fv9nij9hg]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-3fv9nij9hg] {
        justify-content: space-between;
    }

    .top-row[b-3fv9nij9hg]  a, .top-row[b-3fv9nij9hg]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-3fv9nij9hg] {
        flex-direction: row;
    }

    .sidebar[b-3fv9nij9hg] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-3fv9nij9hg] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-3fv9nij9hg]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-3fv9nij9hg], article[b-3fv9nij9hg] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-3fv9nij9hg] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-3fv9nij9hg] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/ProjectPulse.Web/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-0wlhc7ouzn] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-0wlhc7ouzn] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-0wlhc7ouzn] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-0wlhc7ouzn] {
    font-size: 1.1rem;
}


.nav-item[b-0wlhc7ouzn] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-0wlhc7ouzn] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-0wlhc7ouzn] {
        padding-bottom: 1rem;
    }

    .nav-item[b-0wlhc7ouzn]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-0wlhc7ouzn]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-0wlhc7ouzn]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-0wlhc7ouzn] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-0wlhc7ouzn] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-0wlhc7ouzn] {
        display: none;
    }

    .nav-scrollable[b-0wlhc7ouzn] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
